[package]
name = "reinhardt-rest-core"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
thiserror = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
reinhardt-routers = { workspace = true }
reinhardt-auth = { workspace = true }
reinhardt-pagination = { workspace = true }
openapi = { version = "0.1.0", path = "../openapi", package = "reinhardt-openapi" }
