[package]
name = "reinhardt-di-core"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
thiserror = { workspace = true }
async-trait = { workspace = true }
